*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.calc-body {
    background-color: #2F2F2F;
    width: 400px;
    padding: 10px;
}

.display {
    font-size: 4rem;
    font-weight: 500;

    padding: 10px;
    margin-bottom: 3px;
    background-color: #B2B9B7;
    height: 100px;
    border: 3px solid black;

    display: flex;
    align-items: center;
    justify-content: end;
}


.row {
    display: flex;
}

.row > button {
    width: 100px;
    height: 75px;
    margin: 1px;
    border: 2px solid black;
    border-radius: 10px;

    font-size: 2rem;
}

.bg-gray {
    background-color: gray;
}

.bg-gray:hover {
    background-color: darkgray;
}

.bg-gray:active {
    background-color: dimgray;
}

.bg-orange {
    background-color: #d87b05;
}

.bg-orange:hover {
    background-color: orange
}

.bg-orange:active {
    background-color: #9d5803;
}

.bg-active-orange {
    background-color: orange;
}

.bg-red {
    background-color: #cd1414;
}

.bg-red:hover {
    background-color: red;
}

.bg-red:active {
    background-color: #b40000;
}

.bg-white {
    background-color: #ebebeb;
}

.bg-white:hover {
    background-color: white;

}

.bg-white:active {
    background-color: #bcb7b7;
}

button[data-key="0"] {
    width: 200px;
}

.row > button {
    cursor: pointer;
}